{% extends 'base_app.html' %}

{% block title %}Dashboard{% endblock %}

{% block css %}
  {{ block.super }}

  .large-text {
    font-size: 3em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
{% endblock %}

{% block breadcrumb %}
  <li class='active'>Home</li>
{% endblock %}

{% block content_app %}
  <div class='row'>
    <div class='col-md-8'>
      <div class='row'>
        <div class='col-md-4'>
          <a href='/' class='btn btn-default large-text
              col-md-12 col-xs-12'>
            Retails
          </a>
        </div>
        <div class='col-md-4'>
          <a href='{% url "products_product_list" %}'
              class='btn btn-default large-text col-md-12 col-xs-12'>
            Products
          </a>
        </div>
      </div>
    </div>

    <div class='col-md-4'>
      <div class='panel panel-default'>
        <div class='panel-heading'>Personal information</div>
        <div class='panel-body'>
          <dl class='dl-horizontal'>
            <dt>Admission Date</dt>
            <dd>{{ user.employee.admission_date }}</dd>
            <dt>Duration</dt>
            <dd>{{ user.employee.admission_date|timesince }}</dd>
            <dt>I/C Number</dt>
            <dd>{{ user.employee.registry_number }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
