{% extends "base_app.html" %}

{% block css %}
  {{ block.super }}

  .big-text {
    font-size: 4em;
  }
{% endblock %}

{% block breadcrumb %}
  <li class="active">Home</li>
{% endblock %}

{% block content_app %}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Hello, {{ user }}!</h1>
      <p class="text-center">{% now "jS F Y H:i" %}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
        <p><a href="{% url 'stocks_product_list' %}" class="btn btn-default col-lg-12 col-xs-12 big-text">Products</a></p>
    </div>
    <div class="col-lg-3">
        <p><a href="{% url 'retails_sale_list' %}" class="btn btn-default col-lg-12 col-xs-12 big-text">Sales</a></p>
    </div>
  </div>
{% endblock %}
