{% extends 'base_app.html' %}

{% block breadcrumb %}
  <li class='active'>Home</li>
{% endblock %}

{% block content_app %}
  <div class='row'>
    <div class='col-lg-4'>
      <div class='panel panel-default'>
        <div class='panel-heading'>Stocks</div>
        <div class='list-group'>
          <a href='{% url "stocks-stock-list" %}' class='list-group-item'>Stocks</a>
        </div>
      </div>
    </div>

    <div class='col-lg-4'>
      <div class='panel panel-default'>
        <div class='panel-heading'>Retails</div>
        <div class='list-group'>
          <a href='{% url "retails-sale-list" %}' class='list-group-item'>Sales</a>
          <a href='{% url "retails-price-list" %}' class='list-group-item'>Prices</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
