{% extends 'base_app.html' %}

{% block breadcrumb %}
<li><a href='{% url "home" %}'>Home</a></li>
<li>Stocks</li>
<li class='active'>Logs</li>
{% endblock %}

{% block content_app %}
<table class='table table-striped table-hover table-bordered table-responsive sortable'>
  <thead>
    <tr>
      <th>No.</th>
      <th>Warehouse</th>
      <th>Stock</th>
      <th class='text-right'>Balance</th>
      <th>UOM</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan='5'>
        Total {{ log_list|length }} log{{ log_list|pluralize }}.
      </td>
    </tr>
  </tfoot>
  <tbody>
    {% for log in log_list %}
    <tr>
      <td><a href='{% url "stocks-log-detail" log.pk %}'>{{ forloop.counter }}</a></td>
      <td><a href='{% url "stocks-warehouse-detail" log.warehouse.pk %}'>{{ log.warehouse }}</a></td>
      <td><a href='{% url "stocks-stock-detail" log.stock.pk %}'>{{ log.stock }}</a></td>
      <td class='text-right'>{{ log.balance }}</td>
      <td>{{ log.stock.uom }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
  <t
