{% extends 'base.html' %}

{% block breadcrumb %}
<ul class='breadcrumb'>
  <li><a href='{% url "home" %}'>Home</a></li>
  <li>Stocks</li>
  <li class='active'>Stocks</li>
</ul>
{% endblock %}

{% block content %}
{% if perms.stocks.can_create_product %}
<div class='row'>
  <div class='col-md-12'>
    <div class='well well-sm'>
      <div class='btn-group'>
        <a href='{% url "stocks_product_new" %}' class='btn btn-default'>New</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class='row'>
  <div class='col-md-12'>
    {% include 'stocks/product_table.html' %}
  </div>
</div>
{% endblock %}
