{% extends 'base_app.html' %}

{% load utils %}

{% block breadcrumb %}
<li><a href='{% url "home" %}'>Home</a></li>
<li>Stocks</li>
<li><a href='{% url "stocks-stock-list" %}'>Stocks</a></li>
<li class='active'>{{ stock.code }}</li>
{% endblock %}

{% block content_app %}
<div class='well well-sm'>
  <div class='btn-group'>
    <a href='{% url "stocks-stock-edit" stock.pk %}' class='btn btn-default'>Edit Info</a>
    <a href='{% url "stocks-stock-component-edit" stock.pk %}' class='btn btn-default'>Edit Components</a>
    <a href='{% url "stocks-stock-code-print-new" stock.pk %}' target='_blank' class='btn btn-default'>Print Code</a>
  </div>
</div>

<div class='row'>
  <div class='col-lg-6'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        Information
        {% if stock.discontinued %}
        <span class='badge'>Discontinued</span>
        {% endif %}
      </div>
      <table class='table table-striped table-hover table-bordered table-responsive'>
        <tr>
          <td class='text-right'>{% get_field_verbose_name stock 'code' %}</td>
          <td>
            <strong>{{ stock.code }}</strong>
            <br><small>{% get_field_help_text stock 'code' %}</small>
          </td>
        </tr>
        <tr>
          <td class='text-right'>{% get_field_verbose_name stock 'name' %}</td>
          <td><strong>{{ stock.name }}</strong></td>
        </tr>
        <tr>
          <td class='text-right'>{% get_field_verbose_name stock 'note' %}</td>
          <td>{{ stock.note|default:'-'|linebreaksbr }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class='col-lg-6'>
    {% if components %}
    <div class='panel panel-default'>
      <div class='panel-heading'>Components</div>
      <table class='table table-striped table-hover table-bordered table-responsive'>
        <thead>
          <tr>
            <th>Content</th>
            <th class='text-right'>Quantity</th>
            <th>UOM</th>
          </tr>
        </thead>
        <tbody>
          {% for comp in components %}
          <tr>
            <td><a href='{% url "stocks-stock-detail" comp.content.pk %}'>{{ comp.content }}</a></td>
            <td class='text-right'>{{ comp.quantity }}</td>
            <td>{{ comp.content.uom }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    {% if packages %}
    <div class='panel panel-default'>
      <div class='panel-heading'>Packages</div>
      <table class='table table-striped table-hover table-bordered table-responsive'>
        <thead>
          <tr>
            <th>Package</th>
          </tr>
        </thead>
        <tbody>
          {% for package in packages %}
          <tr>
            <td><a href='{% url "stocks-stock-detail" package.stock.pk %}'>{{ package.stock }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    <div class='panel panel-default'>
      <div class='panel-heading'>Balance Logs</div>
      <table class='table table-striped table-hover table-bordered table-responsive'>
        <thead>
          <tr>
            <th>No.</th>
            <th>Warehouse</th>
            <th class='text-right'>Balance<br>({{ stock.uom }})</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan='2' class='text-right'>Total Balance</td>
            <td class='text-right'>{{ stock.balance }}</td>
          </tr>
        </tfoot>
        <tbody>
          {% for log in logs %}
          <tr>
            <td><a href='{% url "stocks-log-detail" log.pk %}'>{{ forloop.counter }}</a></td>
            <td><a href='{% url "stocks-warehouse-detail" log.warehouse.pk %}'>{{ log.warehouse }}</a></td>
            <td class='text-right'>{{ log.balance|default:'0' }}</td>
          </tr>
          {% empty %}
          <tr>
            <td>-</td>
            <td>-</td>
            <td class='text-right'>-</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
