{% extends 'base_app.html' %}

{% block breadcrumb %}
  <li><a href='{% url "home" %}'>Home</a></li>
  <li>Stocks</li>
  <li class='active'>Stocks</li>
{% endblock %}

{% block content_app %}
  <div class='well well-sm'>
    <div class='btn-group'>
      <a href='{% url "stocks-stock-new" %}' class='btn btn-default'>New</a>
    </div>
  </div>

  <table class='table table-striped table-hover table-bordered table-responsive sortable'>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan='2'>Total {{ stock_list|length }} stock{{ stock_list|pluralize }}.</td>
      </tr>
    </tfoot>
    <tbody>
      {% for stock in stock_list %}
        <tr>
          <td><a href='{% url "stocks-stock-detail" stock.pk %}'>{{ stock.code }}</a></td>
          <td>{{ stock.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
