{% extends 'base_app.html' %}

{% block content_app %}
  <div class='page-header'>
    <h1>Units</h1>
  </div>

  <a href='{% url "stocks-unit-new" %}' class='btn btn-default'>New</a>

  <table class='table table-striped table-hover table-bordered table-responsive'>
    <thead>
      <tr>
        <th class='content-left'>Name</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan='2'>Total {{ unit_list|length }} unit{{ unit_list|pluralize }}.</td>
      </tr>
    </tfoot>
    <tbody>
      {% for unit in unit_list %}
        <tr>
          <td><a href='{% url "stocks-unit-edit" unit.pk %}'>{{ unit.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
