{% extends 'base_app.html' %}

{% block breadcrumb %}
  <li><a href='{% url "home" %}'>Home</a></li>
  <li>Stocks</li>
  <li class='active'>Warehouses</li>
{% endblock %}

{% block content_app %}
  <p class='text-right'>
    <a href='{% url "stocks-warehouse-new" %}' class='btn btn-default'>New</a>
  </p>

  <table class='table table-striped table-hover table-bordered table-responsive'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan='2'>Total {{ warehouse_list|length }} warehouse{{ warehouse_list|pluralize }}.</td>
      </tr>
    </tfoot>
    <tbody>
      {% for warehouse in warehouse_list %}
        <tr>
          <td><a href='{% url "stocks-warehouse-edit" warehouse.pk %}'>{{ warehouse.name }}</a></td>
          <td>{{ warehouse.address|linebreaks }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
