{% extends 'base.html' %}

{% block breadcrumb %}
<ul class='breadcrumb'>
  <li><a href='{% url "home" %}'>Home</a></li>
  <li>Stocks</li>
  <li><a href='{% url "stocks_warehouse_list" %}'>Warehouses</a></li>
  <li class='active'>{{ warehouse }}</li>
</ul>
{% endblock %}

{% block content %}
{% if perms.stocks.can_update_warehouse %}
<div class='row'>
  <div class='col-md-12'>
    <div class='well well-sm'>
      <div class='btn-group'>
        <a href='{% url "stocks_warehouse_edit" warehouse.pk %}' class='btn btn-default'>Edit</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class='row'>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Basic information</div>
      <div class='panel-body'>
        <dl class='dl-horizontal'>
          <dt>Name</dt>
          <dd>{{ warehouse.name }}</dd>
          <dt>Address</dt>
          <dd>{{ warehouse.address|linebreaksbr }}</dd>
          <dt>Total stock</dt>
          <dd>{{ warehouse.total_amount|default:'0' }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
{% endblock %}
