{% extends "generic_form.html" %}

{% block title %}Sale Quote Form{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'employees_dashboard' %}">Home</a></li>
  <li><a href="{% url 'retails_sale_list' %}">Sales</a></li>
  <li>
    <a href="{% url 'retails_sale_detail' sale.id %}">
      {% if user.employee.hq %}
        {{ sale.opening_time }} at {{ sale.store }}
      {% else %}
        {{ sale.opening_time }}
      {% endif %}
    </a>
  </li>
  <li class="active">Quote Form</li>
{% endblock %}

{% block content_app %}
  <div class="row">
    <div class="col-lg-8 col-lg-offset-4">
      <form method="post" class="form-horizontal" role="form">
        {% csrf_token %}

        <div class="form-group">
          <div class="col-lg-12">
            <p>Are you sure you want to quote this sale?</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-save"></span> Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
