{% extends "generic_form.html" %}

{% block title %}Sale Line Form{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'employees_dashboard' %}">Home</a></li>
  <li><a href="{% url 'retails_sale_list' %}">Sale</a></li>
  <li>
    <a href="{% url 'retails_sale_detail' sale.id %}">
      {% if user.employee.hq %}
        {{ sale.opening_time }} at {{ sale.store }}
      {% else %}
        {{ sale.opening_time }}
      {% endif %}
    </a>
  </li>
  <li class="active">Line Form</li>
{% endblock %}
