{% extends "base_app.html" %}

{% block breadcrumb %}
  <li><a href="{% url 'employees_dashboard' %}">Home</a></li>
  <li><a href="{% url 'retails_saleline_list' %}">Sale Lines</a></li>
  <li class="active">{{ object }}</li>
{% endblock %}

{% block content_app %}
  <div class="row">
    <div class="col-lg-12">
      <dl class="dl-horizontal">
        <dt>Sale</dt>
        <dd><a href="{% url 'retails_sale_detail' object.sale.id %}">{{ object.sale }}</a></dd>
        <dt>Product</dt>
        <dd>{{ object.product }}</dd>
        <dt>Quantity</dt>
        <dd>{{ object.quantity }}</dd>
        <dt>Discount</dt>
        <dd>{{ object.discount }}</dd>
      </dl>
    </div>
  </div>
{% endblock %}
