{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
  <div class="uk-grid">
    <div class="uk-width-1-2">
      <h1>Login</h1>

      <hr>

      {% if form.errors %}
        <div class="ink-alert basic error" role="alert">
          <button class="ink-dismiss">&times;</button>
          <p>Your username and password didn't match. Please try again.</p>
        </div>
      {% endif %}

      <form class="uk-form uk-form-horizontal" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="uk-form-row">
          <label class="uk-form-label uk-text-right" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
          <div class="uk-form-controls">
            {{ form.username }}
          </div>
        </div>

        <div class="uk-form-row">
          <label class="uk-form-label uk-text-right" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
          <div class="uk-form-controls">
            {{ form.password }}
          </div>
        </div>

        <div class="uk-form-row">
          <div class="uk-form-controls">
            <input type="submit" value="Login" class="uk-button">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
