{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
  <div class="column-group gutters">
    <div class="all-40 push-center">
      <h1>Login</h1>

      <hr>

      {% if form.errors %}
        <div class="ink-alert basic error" role="alert">
          <p>Your username and password didn't match. Please try again.</p>
        </div>
      {% endif %}

      <form class="ink-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="control-group column-group horizontal-gutters">
          <label class="all-33 align-right" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
          <div class="control all-66">
            {{ form.username }}
          </div>
        </div>

        <div class="control-group column-group horizontal-gutters">
          <label class="all-33 align-right" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
          <div class="control all-66">
            {{ form.password }}
          </div>
        </div>

        <div class="control-group column-group horizontal-gutters">
          <div class="all-33"></div>
          <div class="all-66">
            <input type="submit" value="Login" class="ink-button">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
