{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
  <div class="column-group">
    <div class="all-40 small-100 all-push-center">
      <h1>Login</h1>

      {% if form.errors %}
        <div class="ink-alert basic" role="alert">
          <button class="ink-dismiss">&times;</button>
          <p>Your username and password didn't match. Please try again.</p>
        </div>
      {% endif %}

      <form class="ink-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="control-group column-group gutters">
          <label for="{{ form.username.id_for_label }}" class="all-30 align-right">{{ form.username.label }}</label>
          <div class="control all-70">
            {{ form.username|add_class:"form-control" }}
          </div>
        </div>

        <div class="control-group column-group gutters">
          <label for="{{ form.password.id_for_label }}" class="all-30 align-right">{{ form.password.label }}</label>
          <div class="control all-70">
            {{ form.password|add_class:"form-control" }}
          </div>
        </div>

        <div class="control-group column-group">
          <div class="all-70 push-right">
            <input type="submit" value="Login" class="ink-button">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
