{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="page-header">
        <h1>BizA</h1>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Please login</h2>
        </div>
        <div class="panel-body">
          {% if form.errors %}
            <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
          {% endif %}

          <form role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="form-group">
              {{ form.username.label_tag }}
              {% render_field form.username class+="form-control" %}
            </div>
            <div class="form-group">
              {{ form.password.label_tag }}
              {% render_field form.password class+="form-control" %}
            </div>

            <button type="submit" class="btn btn-default btn-primary">
              <span class="glyphicon glyphicon-log-in"></span> Login
            </button>
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
      </div>

      <hr />

      <footer>
        <p>By <a href="http://flavors.me/JohanSJA" target="_blank">Johan</a> for <a href="http://www.cheantar.com/" target="_blank">Cheantar</a></p>
      </footer>
    </div>
  </div>
{% endblock %}
