{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-4">
      <h1>Sale {{ object.id }} ({% if object.closed %}Closed{% else %}Open{% endif %})</h1>
      <dl class="dl-horizontal">
        <dt>Store</dt>
        <dd>{{ object.store }}</dd>
        <dt>Saleperson</dt>
        <dd>{{ object.saleperson }}</dd>
        <dt>Opening Time</dt>
        <dd>{{ object.opening_time }}</dd>
        {% if object.closed %}
          <dt>Closing Time</dt>
          <dd>{{ object.closing_time }}</dd>
        {% endif %}
      </dl>
    </div>

    <div class="col-lg-8">
      <h2>Line</h2>
      <table class="table table-striped table-responsive">
        <tr>
          <th>Product</th>
          <th class="text-right">Unit Price (RM)</th>
          <th class="text-right">Quantity</th>
          <th class="text-right">Discount</th>
          <th>&nbsp;</th>
        </tr>
        {% for line in lines %}
          <tr>
            <td>{{ line.product }}</td>
            <td class="text-right">{{ line.product.retail_price|floatformat:"2" }}</td>
            <td class="text-right">{{ line.quantity }}</td>
            <td class="text-right">{{ line.discount|default:"-" }}</td>
            <td><a href="{% url 'retails_saleline_edit' line.id %}">Edit</a></td>
          </tr>
        {% endfor %}
      </table>

      <h2>Total</h2>
      <dl class="dl-horizontal">
        <dt>Amount</dt>
        <dd>RM {{ object.total_amount|floatformat:"2" }}</dd>
      </dl>
    </div>
  </div>
{% endblock %}
