{% extends "generic_form.html" %}

{% block css %}
  {{ block.super }}

  .large-text {
    font-size: 2em;
  }

  .xlarge-text {
    font-size: 3em;
  }
{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'employees_dashboard' %}">Home</a></li>
  <li><a href="{% url 'retails_sale_list' %}">Sales</a></li>
  <li class="active">Form</li>
{% endblock %}

{% block content_app %}
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4">
          <p class="text-right"><b>Grand Total (RM)</b></p>
        </div>
        <div class="col-lg-8">
          <p class="large-text" id="grand_total">{{ object.total_amount|floatformat:"2" }}</p>
        </div>
      </div>
    </div>
  </div>

  {{ block.super }}

  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4">
          <p class="text-right"><b>Balance (RM)</b></p>
        </div>
        <div class="col-lg-8">
          <p class="xlarge-text" id="balance">&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  function setBalance() {
    var total = $( "#grand_total" ).text();
    var paid = $( "#id_amount_paid" ).val();
    var balance = paid - total;
    if ( balance < 0 ) {
      $( "#balance" ).text( "Not enough" );
    } else {
      $( "#balance" ).text( balance.toFixed(2) );
    }
  }

  $( document ).ready(setBalance);

  $( "#id_amount_paid" ).keyup(setBalance);
{% endblock %}
