{% extends "base_print.html" %}

{% block css %}
  {{ block.super }}

  .table>tfoot>tr>td {
    font-weight: bold;
  }

  .small-text {
    font-size: 0.8em;
  }
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-6">
      <h2>Cheantar Electronics Sdn. Bhd.</h2>
      <p class='small-text'>
        <strong>HQ:</strong> 4388, Jalan Heng Choon Thian, 12000 Butterworth<br />
        <em>Tel:</em> (+60)4-3334645 &nbsp;&nbsp; <em>Email:</em> sales@cheantar.com<br />
        <strong>Branch:</strong> {{ object.store.location }}<br />
        <em>Tel:</em> {{ object.store.telephone|default:"(+60)4-3318388" }} &nbsp;&nbsp;
        <em>E-mail:</em> {{ object.store.email|default:"sales@cheantar.com" }}
      </p>
    </div>

    <div class="col-xs-6">
      <h1 class="text-right">
        {% if object.closed %}
          Cash Bill
        {% elif object.quoted %}
          Quotation
        {% else %}
          Open
        {% endif %}
      </h1>
      <dl class="dl-horizontal pull-right">
        {% if object.closed %}
          <dt>Number:</dt>
          <dd>{{ object.cash_bill_number }}</dd>
          <dt>Closing Time</dt>
          <dd>{{ object.closing_time }}</dd>
        {% elif object.quoted %}
          <dt>Number:</dt>
          <dd>{{ object.quotation_number }}</dd>
          <dt>Quoting Time</dt>
          <dd>{{ object.quoting_time }}</dd>
        {% else %}
          <dt>Opening Time</dt>
          <dd>{{ object.opening_time }}</dd>
        {% endif %}
        <dt>Saleperson</dt>
        <dd>{{ object.saleperson }}</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Model</th>
            <th>Name</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Unit Price<br />(RM)</th>
            <th class="text-right">Subtotal<br />(RM)</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="5">Grand Total</td>
            <td class="text-right">{{ object.total_amount|floatformat:"2" }}</td>
          </tr>
        </tfoot>
        <tbody>
          {% for line in lines %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ line.product }}</td>
              <td>
                {{ line.product.name }}
                {% if line.product.is_package %}
                  <ul>
                    {% for packitem in line.product.package.packageitem_set.all %}
                      <li>{{ packitem.quantity }} {{ packitem.item.unit_of_measure }} {{ packitem.item.name }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </td>
              <td class="text-right">{{ line.get_quantity }}</td>
              <td class="text-right">{{ line.price_after_discount|floatformat:"2" }}</td>
              <td class="text-right">{{ line.total_amount|floatformat:"2" }}</td>
            </tr>
          {% empty %}
            <td colspan="6">Empty</td>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row small-text">
    <div class="col-lg-1">
      <h6>Notes</h6>
    </div>
    <div class="col-lg-11">
      <ul>
        <li>Goods sold are not refundable.</li>
        <li>Goods exchange shall be performed within 7 days from purchase.</li>
      </ul>
    </div>
  </div>
{% endblock %}
