{% extends "base_app.html" %}

{% block breadcrumb %}
  <li><a href="{% url 'employees_dashboard' %}">Home</a></li>
  <li><a href="{% url 'retails_sale_list' %}">Sales</a></li>
  <li class="active">{{ object }}</li>
{% endblock %}

{% block content_app %}
  <div class="row">
    <div class="col-lg-4">
      <h2>Infos</h2>

      <dl class="dl-horizontal">
        <dt>Status</dt>
        <dd>{% if object.closed %}Closed{% else %}Open{% endif %}</dd>
        <dt>Store</dt>
        <dd>{{ object.store }}</dd>
        <dt>Saleperson</dt>
        <dd>{{ object.saleperson }}</dd>
        <dt>Opening Time</dt>
        <dd>{{ object.opening_time }}</dd>
        {% if object.closed %}
          <dt>Closing Time</dt>
          <dd>{{ object.closing_time }}</dd>
        {% endif %}
      </dl>

      <p>
        {% if not object.closed %}
          <a href="{% url 'retails_sale_edit' object.id %}" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span> Edit
          </a>
        {% endif %}
        <a href="{% url 'retails_sale_print' object.id %}" class="btn btn-default" target="_blank">
          <span class="glyphicon glyphicon-print"></span> Print
        </a>
      </p>
    </div>

    <div class="col-lg-8">
      <h2>Lines</h2>
      <p class="text-right">
        <a href="{% url 'retails_saleline_new' %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add</a>
      </p>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Product</th>
            <th class="text-right">Unit Price<br />(RM)</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Discount<br />(RM)</th>
            <th class="text-right">Subtotal<br />(RM)</th>
            {% if not object.closed %}
              <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for line in lines %}
            <tr>
              <td>{{ line.product }}</td>
              <td class="text-right">{{ line.product.retail_price|floatformat:"2" }}</td>
              <td class="text-right">{{ line.quantity }}</td>
              <td class="text-right">{{ line.discount|floatformat:"2"|default:"-" }}</td>
              <td class="text-right">{{ line.total_amount|floatformat:"2" }}</td>
              {% if not object.closed %}
                <td>
                  <a href="{% url 'retails_saleline_edit' line.id %}">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                  </a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2>Summary</h2>
      <dl class="dl-horizontal pull-right">
        <dt>Quantity</dt>
        <dd class="text-right" style="font-size:1.6em;">{{ object.total_quantity }}</dd>
        <dt>Discount (RM)</dt>
        <dd class="text-right" style="font-size:1.6em;">{{ object.total_discount|floatformat:"2"|default:"-" }}</dd>
        <dt>Total (RM)</dt>
        <dd class="text-right" style="font-size: 2em;">{{ object.total_amount|floatformat:"2" }}</dd>
      </dl>
    </div>
  </div>
{% endblock %}
