{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h1>Sale Line {{ object.id }}</h1>
      <dl class="dl-horizontal">
        <dt>Sale</dt>
        <dd><a href="{% url 'retails_sale_detail' object.sale.id %}">{{ object.sale }}</a></dd>
        <dt>Product</dt>
        <dd>{{ object.product }}</dd>
        <dt>Quantity</dt>
        <dd>{{ object.quantity }}</dd>
        <dt>Discount</dt>
        <dd>{{ object.discount }}</dd>
      </dl>
    </div>
  </div>
{% endblock %}
