<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>No</th>
      {% if sales_type == "closed" %}
        <th>Cash Bill Number</th>
        <th>Closing Time</th>
        <th>Closed By</th>
      {% elif sales_type == "quoted" %}
        <th>Quotation Number</th>
        <th>Quoting Time</th>
        <th>Quoted By</th>
      {% else %}
        <th>Opening Time</th>
        <th>Opened By</th>
      {% endif %}
      <th>Salesperson</th>
      <th class="text-right">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for sale in sales %}
      <tr>
        <td>{{ forloop.counter }}</td>
        {% if sales_type == "closed" %}
          <td>{{ sale.cash_bill_number }}</td>
          <td>{{ sale.closing_time }}</td>
          <td>{{ sale.closed_by }}</td>
        {% elif sales_type == "quoted" %}
          <td>{{ sale.quotation_number }}</td>
          <td>{{ sale.quoting_time }}</td>
          <td>{{ sale.quoted_by }}</td>
        {% else %}
          <td>{{ sale.opening_time }}</td>
          <td>{{ sale.opened_by }}</td>
        {% endif %}
        <td>{{ sale.saleperson }}</td>
        <td class="text-right">{{ sale.total_amount }}</td>
      </tr>
    {% empty %}
      {% if sales_type == "opened" %}
        <td colspan="4">
      {% else %}
        <td colspan="5">
      {% endif %}
      No {{ sales_type }} sales on this date.</td>
    {% endfor %}
  </tbody>
</table>
