{% extends 'base_app.html' %}

{% block breadcrumb %}
  <li><a href='{% url "home" %}'>Home</a></li>
  <li>Retails</li>
  <li class='active'>Prices</li>
{% endblock %}

{% block content_app %}
  <div class='well well-sm'>
    <div class='btn-group'>
      <a href='{% url "retails-price-new" %}' class='btn btn-default'>New</a>
    </div>
  </div>

  <table class='table table-striped table-hover table-bordered table-responsive'>
    <thead>
      <tr>
        <th>Stock</th>
        <th class='text-right'>Base (RM)</th>
        <th class='text-right'>Lowest (RM)</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan='3'>Total {{ price_list|length }} stock{{ price_list|pluralize }}.</td>
      </tr>
    </tfoot>
    <tbody>
      {% for price in price_list %}
        <tr>
          <td><a href='{% url "retails-price-edit" price.pk %}'>{{ price.stock }}</a></td>
          <td class='text-right'>{{ price.base|floatformat:'2' }}</td>
          <td class='text-right'>{{ price.lowest|floatformat:'2' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
