{% extends 'base_app.html' %}

{% block breadcrumb %}
  <li><a href='{% url "home" %}'>Home</a></li>
  <li>Retails</li>
  <li class='active'>Sales</li>
{% endblock %}

{% block content_app %}
  <div class='well well-sm'>
    <div class='pull-right'>
      <strong>Shop:</strong> {{ user.worker.shop }}
    </div>
    <div class='btn-group'>
      <a href='{% url "retails-sale-new" %}' class='btn btn-default'>New</a>
    </div>
  </div>

  <table class='table table-striped table-hover table-bordered table-responsive'>
    <thead>
      <tr>
        <th>No</th>
        <th>Served By</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan='2'>Total {{ sale_list|length }} sale{{ sale_list|pluralize }}.</td>
      </tr>
    </tfoot>
    <tbody>
      {% for sale in sale_list %}
        <tr>
          <td><a href='{% url "retails-sale-detail" sale.pk %}'>{{ sale.pk }}</a></td>
          <td>{{ sale.served_by }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
