{% extends 'base.html' %}

{% block meta %}{% endblock %}

{% block css %}
body {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.container {
  width: 970px !important;
}
{% endblock %}

{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-xs-7'>
      <h2>Cheantar Electronics Sdn. Bhd.</h2>
      <p><strong>HQ:</strong> 4388, Jalan Heng Choon Thian, 12000 Butterworth, Penang.</p>
      <p><strong>Branch:</strong> {{ sale.shop.address }}</p>
    </div>

    <div class='col-xs-5'>
      <h1 class='text-right'>Official Receipt</h1>
      <dl class='dl-horizontal'>
        {% if sale.closed %}
        {% with sale.receipt as receipt %}
        <dt>Receipt number</dt>
        <dd>{{ receipt.pk }}</dd>
        <dt>Timestamp</dt>
        <dd>{{ receipt.timestamp }}</dd>
        {% endwith %}
        {% endif %}
        <dt>Served By</dt>
        <dd>{{ sale.served_by }}</dd>
      </dl>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12'>
      {% with sale.line_set.all as line_list %}
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Description</th>
            <th class='text-right'>Unit Price (RM)</th>
            <th class='text-right'>Quantity</th>
            <th class='text-right'>Subtotal (RM)</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan='3' class='text-right'><strong>Total (RM)</strong></td>
            <td class='text-right'>{{ sale.total_price|floatformat:'2' }}</td>
          </tr>
        </tfoot>
        <tbody>
          {% for line in line_list %}
          <tr>
            <td>{{ line.stock.name }}</td>
            <td class='text-right'>{{ line.unit_price|floatformat:'2' }}</td>
            <td class='text-right'>{{ line.quantity }} {{ line.stock.uom }}</td>
            <td class='text-right'>{{ line.price|floatformat:'2' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endwith %}

      <hr>

      <h6>Notes</h6>
      <ul>
        <li>Goods purchased are not refundable or exchangable.</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
