{% extends 'base_app.html' %}

{% block breadcrumb %}
  <li><a href='{% url "home" %}'>Home</a></li>
  <li>Wholesales</li>
  <li class='active'>Partners</li>
{% endblock %}

{% block content_app %}
  <div class='well well-sm'>
    <div class='btn-group'>
      <a href='{% url "wholesales-partner-new" %}' class='btn btn-default'>New</a>
    </div>
  </div>

  <table class='table table-striped table-hover table-bordered table-responsive'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Telephone</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan='3'>Total {{ partner_list|length }} partner{{ partner_list|pluralize }}.</td>
      </tr>
    </tfoot>
    <tbody>
      {% for partner in partner_list %}
        <tr>
          <td><a href='{% url "wholesales-partner-detail" partner.pk %}'>{{ partner.name }}</a></td>
          <td>{{ partner.address|linebreaks }}</td>
          <td>{{ partner.phone }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
