{% extends 'base_app.html' %}

{% block breadcrumb %}
  <li><a href='{% url "home" %}'>Home</a></li>
  <li>Wholesales</li>
  <li><a href='{% url "wholesales-purchase-list" %}'>Purchases</a></li>
  <li>{{ purchase }}</li>
{% endblock %}

{% block content_app %}
  <div class='well well-sm'>
    <div class='btn-group'>
      <a href='{% url "wholesales-purchase-edit" purchase.pk %}' class='btn btn-default'>Edit Info</a>
      <a href='{% url "wholesales-purchase-purchaseline-edit" purchase.pk %}' class='btn btn-default'>Edit Lines</a>
    </div>
  </div>


  <div class='row'>
    <div class='col-lg-4'>
      <div class='panel panel-default'>
        <div class='panel-heading'>Info</div>
        <div class='panel-body'>
          <dl class='dl-horizontal'>
            <dt>Partner</dt>
            <dd><a href='{% url "wholesales-partner-detail" purchase.partner.pk %}'>{{ purchase.partner }}</a></dd>
            <dt>Document No.</dt>
            <dd>{{ purchase.doc_num }}</dd>
            <dt>Date</dt>
            <dd>{{ purchase.date }}</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class='col-lg-8'>
      {% with purchase.purchaseline_set.all as line_list %}
        <div class='panel panel-default'>
          <div class='panel-heading'>Lines</div>
          <table class='table table-striped table-hover table-bordered table-responsive'>
            <thead>
              <tr>
                <th>No.</th>
                <th>Description</th>
                <th class='text-right'>Unit Price (RM)</th>
                <th class='text-right'>Quantity</th>
                <th class='text-right'>Subtotal (RM)</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan='4' class='text-right'><strong>Total</strong></td>
                <td class='text-right'>{{ purchase.total_price|floatformat:'2' }}</td>
              </tr>
            </tfoot>
            <tbody>
              {% for line in line_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ line.stock.name }}</td>
                  <td class='text-right'>{{ line.unit_price|floatformat:'2' }}</td>
                  <td class='text-right'>{{ line.quantity }}</td>
                  <td class='text-right'>{{ line.price|floatformat:'2' }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endwith %}
    </div>
  </div>
{% endblock %}
