{% extends "base.html" %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="../../../">..</a></li>
    <li><a href="../../">..</a></li>
    <li><a href="../">..</a></li>
    <li class="active">{{ object }}</li>
  </ol>
{% endblock %}

{% block content %}
  <div class="button-toolbar">
    <div class="button-group">
      <a href="edit/" class="ink-button"><i class="fa fa-pencil"></i> Edit</a>
    </div>
  </div>

  {% block object %}
    <h1>{{ object }}</h1>
  {% endblock %}
{% endblock %}
