{% extends "base.html" %}

{% block content %}
  <h1>
    {% if form.instance.pk %}
      Edit
    {% else %}
      New
    {% endif %}
    {% block object_name %}
    {%endblock %}
  </h1>
  <hr>

  <div class="ink-button-group bottom-space">
    <a href=".." class="ink-button">
      <i class="fa fa-arrow-left"></i> Back
    </a>
  </div>

  <form class="ink-form" method="post">
    {% csrf_token %}

    {% include "fields_horizontal_snippet.html" %}

    <div class="control-group column-group horizontal-gutters">
      <div class="all-33"></div>
      <div class="all-66">
        <input type="submit" value="Save" class="ink-button">
      </div>
    </div>
  </form>
{% endblock %}
