{% extends "base.html" %}

{% block content %}
  <h1>
    {% if form.instance.pk %}
      Edit
    {% else %}
      New
    {% endif %}
    {% block object_name %}
    {%endblock %}
  </h1>
  <hr>

  <a href=".." class="uk-button">
    <i class="uk-icon-arrow-left"></i> Back
  </a>

  <form class="uk-form uk-form-horizontal" method="post">
    {% csrf_token %}

    {% include "fields_horizontal_snippet.html" %}

    <div class="uk-form-row">
      <div class="uk-form-controls">
        <input type="submit" value="Save" class="uk-button uk-button-primary uk-button-large">
      </div>
    </div>
  </form>
{% endblock %}
