{% extends 'base_app.html' %}

{% block content_app %}
<h1>{% block title_page %}Form{% endblock %}</h1>

<form action='' class='ink-form' method='post'>
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for field in form %}
    <div class='control-group column-group horizontal-gutters{% if field.errors %} validation error{% endif %}'>
      <label class='large-20 small-100 content-right' for='{{ field.id_for_label }}'>
        {{ field.label }}
      </label>
      <div class='control large-50 small-100'>
        {{ field }}
      </div>
      {% if field.errors %}
        <div class='tip large-30 small-100'>
          <ul>
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% elif field.help_text %}
        <p class='tip large-30 small-100'>
          {{ field.help_text }}
        </p>
      {% endif %}
    </div>
  {% endfor %}

  <div class='column-group horizontal-gutters'>
    <div class='large-20 small-100'></div>
    <div class='large-60 small-100'>
      <button type='submit' class='ink-button'>
        <i class='icon-upload'></i> Submit
      </button>
    </div>
  </div>
{% endblock %}
