{% extends 'base_app.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block before_css %}
<link href='{% static "css/bootstrap-select.min.css" %}' rel='stylesheet'>
{% endblock %}

{% block after_css %}
<link href='{% static "css/datepicker3.css" %}' rel='stylesheet'>
{% endblock %}

{% block content_app %}
<form action='' method='post' class='form-horizontal' role='form'>
  {% csrf_token %}
  {% include 'form.html' %}

  <div class='form-group'>
    <div class='col-md-6 col-md-offset-2'>
      <input type='submit' class='btn btn-default' />
    </div>
  </div>
</form>
{% endblock %}

{% block before_js %}
<script src='{% static "js/bootstrap-select.min.js" %}'></script>
{% endblock %}

{% block after_js %}
<script src='{% static "js/bootstrap-datepicker.js" %}'></script>
{% endblock %}

{% block js %}
$('select').selectpicker();
$('.datepicker').datepicker({
  format: 'dd/mm/yyyy'
});
{% endblock %}
