{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% block meta %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}BizA{% endblock %}</title>

    <!-- Bootstrap CSS -->
    {% block css_link %}
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css' rel='stylesheet'>
    {% endblock %}
    <link href='{% static "css/bootstrap-sortable.css" %}' rel='stylesheet'>

    {% block css %}
    <style>
      body {
        padding-top: 70px;
      }
    </style>
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
    <![endif]-->
  </head>

  <body>
    <nav class='navbar navbar-default navbar-fixed-top navbar-inverse' role='navigation'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navbar-collapse'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' href='{% url "home" %}'>BizA</a>
        </div>

        <div class='collapse navbar-collapse' id='navbar-collapse'>
          {% if user.is_authenticated %}
          <ul class='nav navbar-nav'>
            <li class='dropdown'>
              <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                Products <b class='caret'></b>
              </a>
              <ul class='dropdown-menu'>
                <li><a href='{% url "products_product_list" %}'>Products</a></li>
                <li class='divider'></li>
                <li><a href='{% url "products_category_list" %}'>Categories</a></li>
              </ul>
            </li>
            <li class='dropdown'>
              <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                Stocks <b class='caret'></b>
              </a>
              <ul class='dropdown-menu'>
                <li><a href='{% url "stocks_stock_list" %}'>Stocks</a></li>
                <li class='divider'></li>
                <li><a href='{% url "stocks_warehouse_list" %}'>Warehouses</a></li>
                <li><a href='{% url "stocks_uom_list" %}'>Units of Measure</a></li>
              </ul>
            </li>
          </ul>
          <ul class='nav navbar-nav navbar-right'>
            <li class='dropdown'>
              <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                Logged in as {{ user }} <b class='caret'></b>
              </a>
              <ul class='dropdown-menu'>
                <li><a href='{% url "logout" %}'>Logout</a></li>
              </ul>
              </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class='container-fluid'>
      {% block breadcrumb %}{% endblock %}

      {% if messages %}
      {% for message in messages %}
      <div class='alert alert-{{ message.tags }} alert-dismissable'>
        <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}

      {% block content %}{% endblock %}

      <hr>

      <footer>
        <div class='row'>
          <div class='col-md-6'>
            <p>Made by <a href='http://flavors.me/JohanSJA' target='_blank'>Johan Sim Jian An</a></p>
          </div>
          <div class='col-md-6'>
            <p class='text-right'>Last refreshed on {% now 'DATETIME_FORMAT' %}</p>
          </div>
      </footer>
    </div>

    <!-- Bootstrap core Javascript -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    {% block js_script %}
    <script src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    {% endblock %}
    <script src='{% static "js/moment.min.js" %}'></script>
    <script src='{% static "js/bootstrap-sortable.js" %}'></script>

    {% block js %}
    <script language='javascript' type='text/javascript'>
    </script>
    {% endblock %}
  </body>
</html>
