{% extends "base.html" %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="../../../">..</a></li>
    <li><a href="../../">..</a></li>
    <li><a href="../">..</a></li>
    {% if form.instance.pk %}
      <li><a href="../">..</a></li>
      <li class="active">Edit</li>
    {% else %}
      <li class="active">New</li>
    {% endif %}
  </ol>
{% endblock %}

{% block content %}
  <form method="post" class="ink-form" role="form">
    {% csrf_token %}

    {% include "fields_horizontal_snippet.html" %}

    <div class="control-group column-group horizontal-gutters">
      <div class="all-30"></div>
      <div class="all-70">
        <button type="submit" class="ink-button">Save</button>
      </div>
    </div>
  </form>
{% endblock %}
