{% load widget_tweaks %}

{% if form.non_field_errors %}
  <div class="uk-alert uk-alert-danger uk-alert-large" role="alert">
    <h2>Error{{ form.non_field_errors|pluralize }}!</h2>
    {{ form.non_field_errors }}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  <div class="uk-form-row">
    {% if field|widget_type != "checkboxinput" %}
      <label class="uk-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% endif %}
    <div class="uk-form-controls{% if field|widget_type == 'checkboxinput' %} uk-form-controls-text{% endif %}">
      {{ field|add_error_class:"uk-form-danger" }}
      {% if field|widget_type == "checkboxinput" %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% endif %}
      {% if field.help_text %}
        <span class="uk-form-help-inline">{{ field.help_text }}</span>
      {% endif %}
      {% if field.errors %}
        <ul class="uk-form-help-block uk-text-danger">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% for field in form.hidden_fields %}
  {{ field }}
{% endfor %}
