{% load widget_tweaks %}

{% if form.non_field_errors %}
  <div class="ink-alert block error" role="alert">
    <h2>Error{{ form.non_field_errors|pluralize }}!</h2>
    {{ form.non_field_errors }}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  <div class="control-group column-group horizontal-gutters{% if field.errors %} validation error{% endif %}">
    <label class="all-33 align-right" for="{{ field.id_for_label }}">{{ field.label }}</label>
    <div class="control all-66">
      {{ field }}
      {% if field.errors %}
        <ul class="tip">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% for field in form.hidden_fields %}
  {{ field }}
{% endfor %}
