{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="uk-grid">
      <div class="uk-width-1-3">
        <h2>Products</h2>
        <p>Manage all products related stuffs.</p>
        <p><a href="{% url 'products_home' %}" class="uk-button">Go</a></p>
      </div>
    </div>
  {% else %}
    <h1><img src="{% static 'ico/logo-180.png' %}" alt="BizA"></h1>
    <p>Built for Cheantar Electronics Sdn. Bhd.</p>
    <p><a href="{% url 'login' %}" class="uk-button uk-button-primary uk-button-large">Login</a></p>
  {% endif %}
{% endblock %}
