{% extends "base.html" %}

{% block breadcrumb %}
  {% if user.is_authenticated %}
    <ul class="breadcrumb">
      <li class="active">Home</li>
    </ul>
  {% endif %}
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="row">
      <div class="col-md-4">
        <h2>Products</h2>
        <p>Manage all products related stuffs.</p>
        <p><a href="{% url 'products_home' %}" class="btn btn-default">Go</a></p>
      </div>
    </div>
  {% else %}
    <div class="jumbotron">
      <h1>BizA</h1>
      <p>Built for Cheantar Electronics Sdn. Bhd.</p>
      <p><a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a></p>
    </div>
  {% endif %}
{% endblock %}
