{% extends "generic_form.html" %}

{% block title %}Package Prices Form{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'employees_dashboard' %}">Home</a></li>
  <li><a href="{% url 'stocks_product_list' %}">Products</a></li>
  <li><a href="{% url 'stocks_product_detail' object.id %}">{{ object }}</a></li>
  <li class="active">Form</li>
{% endblock %}

{% block content_app %}
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4">
          <p class="text-right"><b>Cost Price (RM)</b></p>
        </div>
        <div class="col-lg-8">
          <p>{{ object.cost_price|floatformat:"2" }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <p class="text-right"><b>Separate Retail Price (RM)</b></p>
        </div>
        <div class="col-lg-8">
          <p>{{ object.separate_retail_price|floatformat:"2" }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <p class="text-right"><b>Separate Wholesale Price (RM)</b></p>
        </div>
        <div class="col-lg-8">
          <p>{{ object.separate_wholesale_price|floatformat:"2" }}</p>
        </div>
      </div>
    </div>
  </div>

  {{ block.super }}
{% endblock %}
