{% extends "base_print.html" %}

{% block css %}
  .container {
    max-width: none !important;
    width: 1140px;
  }

  p {
    font-size: 0.8em;
  }
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-1 hidden-print"></div>
    <div class="col-xs-2">
      <p class="text-center">
        Cheantar Electronics<br />
        <object data="{% url 'stocks_product_barcode' object.id %}" type="image/svg+xml"></object>
      </p>
    </div>
    <div class="col-xs-2">
      <p class="text-center">
        Cheantar Electronics<br />
        <object data="{% url 'stocks_product_barcode' object.id %}" type="image/svg+xml"></object>
      </p>
    </div>
    <div class="col-xs-2">
      <p class="text-center">
        Cheantar Electronics<br />
        <object data="{% url 'stocks_product_barcode' object.id %}" type="image/svg+xml"></object>
      </p>
    </div>
    <div class="col-xs-2">
      <p class="text-center">
        Cheantar Electronics<br />
        <object data="{% url 'stocks_product_barcode' object.id %}" type="image/svg+xml"></object>
      </p>
    </div>
    <div class="col-xs-2">
      <p class="text-center">
        Cheantar Electronics<br />
        <object data="{% url 'stocks_product_barcode' object.id %}" type="image/svg+xml"></object>
      </p>
    </div>
    <div class="col-xs-1 hidden-print"></div>
  </div>
{% endblock %}
