{% extends "base_app.html" %}

{% block content_app %}
  <div class="row">
    <div class="col-lg-12">
      {% include "page_header.html" with page_header=object.name %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2>Infos</h2>
      <dl class="dl-horizontal">
        <dt>Barcode</dt>
        <dd>{{ object.barcode }}</dd>
        <dt>Retail Price</dt>
        <dd>{{ object.retail_price|floatformat:"2" }}</dd>
        {% if user.employee.work_in_hq %}
          <dt>Wholesale Price</dt>
          <dd>{{ object.wholesale_price|floatformat:"2" }}</dd>
        {% endif %}
      </dl>
    </div>

    <div class="col-lg-6">
      {% if quantities %}
        <h2>Stocks</h2>
        <table class="table">
          <tr>
            {% if user.employee.work_in_hq %}
              <th>Warehouse</th>
            {% endif %}
            <th>Time</th>
            <th>Quantity</th>
          </tr>
          {% for obj in quantities %}
            <tr>
              {% if user.employee.work_in_hq %}
                <td>{{ obj.warehouse }}</td>
              {% endif %}
              <td>{{ obj.datetime }}</td>
              <td>{{ obj.quantity }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
