{% extends "base_list.html" %}

{% block object_list_title %}Balances{% endblock %}

{% block buttons %}&nbsp;{% endblock %}

{% block object_list %}
  <ul class="uk-subnav uk-subnav-pill">
    {% url 'products_balance_list' as balance_list_url %}
    <li{% ifequal request.path balance_list_url %} class="uk-active"{% endifequal %}><a href="{{ balance_list_url }}">In Stock</a></li>
    {% url 'products_balance_all_list' as balance_all_list_url %}
    <li{% ifequal request.path balance_all_list_url %} class="uk-active"{% endifequal %}><a href="{{ balance_all_list_url }}">All</a></li>
  </ul>

  <table class="uk-table uk-table-hover uk-table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th class="uk-text-right">Balance</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object.model }}</td>
          <td class="uk-text-right">{{ object.balance }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
