{% extends "base.html" %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li>Products</li>
    <li><a href="{% url 'products_category_list' %}">Categories</a></li>
    <li class="active">{{ category.name }}</li>
  </ol>

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <a href="{% url 'products_category_update' category.pk %}" class="btn btn-default">Edit</a>
    </div>
  </div>

  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{ category.name }}</dd>
  </dl>
{% endblock %}
