{% extends "base.html" %}

{% block content %}
  <h1>{{ category.name }}</h1>
  <hr>

  <div class="uk-button-group">
    <a href="{% url 'products_category_update' category.pk %}" class="uk-button"><i class="uk-button-pencil"></i> Edit</a>
  </div>

  <h2>Products</h2>

  <table class="uk-table uk-table-hover uk-table-striped">
    <thead>
      <tr>
        <th>Model</th>
        <th>Description</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="3">Total {{ product_list|length }} product{{ product_list|pluralize }}.</td>
      </tr>
    </tfoot>
    <tbody>
      {% for product in product_list %}
        <tr>
          <td><a href="{% url 'products_product_detail' product.pk %}">{{ product.model }}</a></td>
          <td>{{ product.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
