{% extends "base_detail.html" %}

{% block object_title %}
  {{ category.name }}
{% endblock %}

{% block object %}
  <table class="uk-table uk-table-hover uk-table-striped">
    <thead>
      <tr>
        <th class="align-left">Model</th>
        <th class="align-left">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for product in product_list %}
        <tr>
          <td><a href="{% url 'products_product_detail' product.pk %}">{{ product.model }}</a></td>
          <td>{{ product.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
