{% extends "base.html" %}

{% block content %}
  <div class="uk-grid">
    <div class="uk-width-1-4">
      <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
        <li class="uk-parent">
          <a href="#">Products</a>
          <ul class="uk-nav-sub">
            <li><a href="{% url 'products_product_list' %}">List</a></li>
            <li><a href="{% url 'products_product_create' %}">New</a></li>
          </ul>
        </li>
        <li class="uk-parent">
          <a href="#">Categories</a>
          <ul class="uk-nav-sub">
            <li><a href="{% url 'products_category_list' %}">List</a></li>
            <li><a href="{% url 'products_category_create' %}" class="btn btn-default">New</a></li>
          </ul>
      </ul>
    </div>
  </div>
{% endblock %}
