{% extends "base.html" %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Products</li>
  </ol>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
        <h2>Products</h2>
        <div class="btn-group">
          <a href="{% url 'products_product_list' %}" class="btn btn-default">List</a>
          <a href="{% url 'products_product_create' %}" class="btn btn-default">New</a>
        </div>
    </div>

    <div class="col-md-3">
        <h2>Categories</h2>
        <div class="btn-group">
          <a href="{% url 'products_category_list' %}" class="btn btn-default">List</a>
          <a href="{% url 'products_category_create' %}" class="btn btn-default">New</a>
        </div>
    </div>
  </div>
{% endblock %}
