{% extends "base_detail.html" %}

{% block object %}
  <dl class="uk-description-list uk-description-list-horizontal">
    <dt>Base</dt>
    <dd>
      {% if object.base %}
        <a href="{% url 'products_pricelist_detail' object.base.pk %}">{{ object.base|default:"-" }}</a>
      {% else %}
        {{ object.base|default:"-" }}
      {% endif %}
    </dd>
    <dt>Base derivation</dt>
    <dd>{{ object.base_derivation|default:"-" }}</dd>
  </dl>

  <table class="uk-table uk-table-hover uk-table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th class="uk-text-right">Price (RM)</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in pricelistentry_list %}
        <tr>
          <td><a href="{% url 'products_product_detail' entry.product.pk %}">{{ entry.product }}</a></td>
          <td class="uk-text-right">{{ entry.price|floatformat:"2" }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">No entries</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
