{% extends 'base.html' %}

{% block breadcrumb %}
<ul class='breadcrumb'>
  <li><a href='{% url "home" %}'>Home</a></li>
  <li><a href='{% url "products_home" %}'>Products</a></li>
  <li class='active'>Products</li>
</ul>
{% endblock %}

{% block content %}
<div class='row'>
  <div class='col-md-12'>
    <div class='well well-sm'>
      <div class='btn-group'>
        <a href='{% url "products_product_new" %}' class='btn btn-default'>New</a>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    {% include 'products/product_table.html' %}
  </div>
</div>
{% endblock %}
