{% extends 'base.html' %}

{% block breadcrumb %}
<ul class='breadcrumb'>
  <li><a href='{% url "home" %}'>Home</a></li>
  <li><a href='{% url "products_home" %}'>Products</a></li>
  <li><a href='{% url "products_product_list" %}'>Products</a></li>
  <li class='active'>{{ product }}</li>
</ul>
{% endblock %}

{% block content %}
{% if perms.products.can_change_product %}
<div class='row'>
  <div class='col-md-12'>
    <div class='well well-sm'>
      <div class='btn-group'>
        <a href='{% url "products_product_edit" product.pk %}' class='btn btn-default'>Edit</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class='row'>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Basic information</div>
      <div class='panel-body'>
        <dl class='dl-horizontal'>
          <dt>Code</dt>
          <dd>{{ product.code }}</dd>
          <dt>Name</dt>
          <dd>{{ product.name }}</dd>
          <dt>Description</dt>
          <dd>{{ product.description|default:'-' }}</dd>
          <dt>Category</dt>
          <dd><a href='{% url "products_category_detail" product.category.pk %}'>{{ product.category }}</a></dd>
          <dt>Note</dt>
          <dd>{{ product.note|linebreaksbr|default:'-' }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
{% endblock %}
