{% extends "base_detail.html" %}

{% block breadcrumb %}
  <nav class="ink-navigation">
    <ul class="breadcrumbs grey">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'products_home' %}">Products</a></li>
      <li><a href="{% url 'products_product_list' %}">Products</a></li>
      <li class="active"><a href="#">{{ product }}</a></li>
    </ul>
  </nav>
{% endblock %}

{% block object %}
  <h1>{{ product.model }}</h1>
  <dl>
    <dt>ID</dt>
    <dd>{{ product.id }}</dd>
    <dt>Description</dt>
    <dd>{{ product.description }}</dd>
    <dt>Category</dt>
    <dd><a href="{% url 'products_category_detail' product.category.pk %}">{{ product.category }}</a></dd>
    <dt>Barcode</dt>
    <dd>{{ product.barcode|default:"-" }}</dd>
    <dt>Remark</dt>
    <dd>{{ product.remark|default:"-" }}</dd>
  </dl>
{% endblock %}
