{% extends "base_detail.html" %}

{% block object %}
  <div class="row">
    <div class="col-md-2">
      <dl>
        <dt>Address</dt>
        <dd>{{ warehouse.address|linebreaksbr }}</dd>
      </dl>
    </div>

    <div class="col-md-10">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Product</th>
            <th class="text-right">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for log in balancelog_list %}
            <tr>
              <td>{{ log.product }}</td>
              <td class="text-right">{{ log.total_amount }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
